.maincard{
  height: 100vh;
  padding: 20px;
  background-color: #d1e3fb;
}
.flexitems{
  display: flex; 
  justify-content: space-between;
  font-weight: 600;
}
.iconcard{
  border: 1px solid #b1b1b1;
  border-radius: 17px;
  /* margin-right: 10px; */
  text-align: center;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}
.card-header{

  border-radius: 15px 15px 0px 0px !important
}
.custom-card{
  border-radius: 15px !important;
  
}
.error{
  color: red;
  font-size: 12px;
}
.day{
  background: #9bb4ff !important;
}
.night{
  background: #272727 !important;
  color: #fff !important;

}
.btn-rds{
  border-radius: 15px !important;
  background: #172a65 !important;
  border-color: #172a65 !important;
}
.marginsmall{
  margin-right: 10px;
}